@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');

:root {
    --color-body: #b6cbce;
    --color-heading: #eef3db;
    --color-base: #033f47;
    --color-base2: #022a30;
    --color-hover: #00FFFF;
    --sidbar-width: 100px;
    --font-base: "Bai Jamjuree";
}

html {
    scroll-behavior: smooth; 
}


body {
    color: var(--color-body);
    font-family: var(--font-base), sans-serif;
}



a {
    text-decoration: none;
    color: var(--color-body);
}

.navbar-brand, .navbar-nav .nav-link {
    color: var(--color-heading);

}

.navbar-nav .nav-link:hover {
    color: var(--color-hover);
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10%;
}


.hero {
    background-image: url(./src/img/dark-blue-memphis-blog-banner-template_53876-98946.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}


.centered-line {
    border-top: 2px solid #333;
    /* Customize width and color as needed */
    width: 25%;
    /* Adjust the width of the line */
    margin: 0 auto;
    /* Center the line horizontally */
    margin-top: 20px;
    /* Adjust the vertical spacing as needed */
}

.img-ame {
    transform: scaleX(-1);
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 300px;
}

.pt-2 {
    padding-top: 8rem !important;
}

.pt-3 {
    padding-top: 8rem !important;
}

.pt-5 {
    padding-top: 8rem !important;
}

.empty-gif {
    padding-top: 2rem !important;
}
